@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #697a21;
  color: #fffce8;
  font-family: "Montserrat", sans-serif;
}

.container-user,
.container-posts {
  margin: 0 auto;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
}

.container-users {
  margin-bottom: 50px;
}

h2 {
  font-size: 27px;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #dd403a;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 20px;
}

h2:hover {
  background-color: #9a2a27;
}

h2 .active {
  background-color: #9a2a27;
}

p {
  width: 300px;
  height: 300px;
  border: 2px solid #b8b42d;
  border-radius: 15px;
  background-color: #dd403a;
  padding: 15px 20px;
  line-height: 1.5;
  font-size: 18px;
  margin: 20px;
}
